<!--
  ~ Copyright (c) 2010, 2023 BSI Business Systems Integration AG
  ~
  ~ This program and the accompanying materials are made
  ~ available under the terms of the Eclipse Public License 2.0
  ~ which is available at https://www.eclipse.org/legal/epl-2.0/
  ~
  ~ SPDX-License-Identifier: EPL-2.0
  -->
<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <!-- FAVICON - Generator: https://www.favicon-generator.org/ -->
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="img/favicon/apple-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body>

    <header>
      {{#if home}}
        <div id="eclipse-scout-logo"><div class="logo"></div><div class="text"></div></div>
      {{else}}
        <a href="./" id="eclipse-scout-logo"><div class="logo"></div><div class="text"></div></a>
      {{/if}}

      <nav id="main-navigation">
        <div class="navigation-item lv1 first"><a href="{{urls.docs.getStarted}}" target="_blank" class="text"
             title="Get started with Eclipse Scout">Tutorial</a></div>
        <div class="navigation-item lv1"><a href="{{urls.docs.home}}" target="_blank" class="text">Docs</a></div>
        <div class="navigation-item lv1 has-children">
          <div class="text">Community</div>
          <div class="navigation-lv2-panel hidden">
            <a href="{{urls.eclipse.scoutForum}}" target="_blank" class="navigation-item lv2 first" id="icon-eclipse-scout-forum">
              <div class="navigation-item-container">
                <div class="title">Eclipse Scout Forum</div>
                <div class="text">Need help? Ask the experts</div>
              </div>
            </a>
            <a href="{{urls.stackOverflow}}" target="_blank" class="navigation-item lv2" id="icon-stack-overflow">
              <div class="navigation-item-container">
                <div class="title">StackOverflow</div>
                <div class="text">Another source of help</div>
              </div>
            </a>
            <a href="{{urls.gitHub}}" target="_blank" class="navigation-item lv2 last" id="icon-git-hub">
              <div class="navigation-item-container">
                <div class="title">GitHub</div>
                <div class="text">View source code. Contribute</div>
              </div>
            </a>
          </div>

        </div>
        <div class="navigation-item lv1 last"><a href="features.html" class="text">Features</a></div>
        <div class="navigation-item lv1 mobile-only"><a href="versions.html" class="text">Versions</a></div>
        <div class="navigation-item lv1 mobile-only"><a href="javascript:onGetStartedLinkClick()" class="text">Get Started</a></div>
      </nav>

      <a href="versions.html#v{{scout.version}}" id="scout-version-button" class="desktop-only">
        <svg height="36" width="36" viewBox="0 0 36 36">
          <circle cx="18" cy="18" r="17" stroke="#014786" stroke-width="2" fill="white" />
        </svg>
        <div>v{{scout.version}}</div>
      </a>

      <button id="get-started-button" class="desktop-only">Get Started</button>

      <button id="mobile-navigation-button" class="mobile-only"></button>

    </header>

    <div id="wrapper">

      {{{body}}}

      <!-- **** FOOTER **** -->
      <footer>

        <div id="social-media-bar">
          <a href="{{urls.eclipse.scoutForum}}" target="_blank" title="Eclipse Scout Forum"><img src="img/bold/conversation-question-warning-1-alternate.svg" class="small"></a>
          <a href="{{urls.stackOverflow}}" target="_blank" title="Eclipse Scout on StackOverflow"><img src="img/bold/developer-community-stack-overflow.svg"></a>
          <a href="{{urls.gitHub}}" target="_blank" title="Eclipse Scout on GitHub"><img src="img/bold/developer-community-github-1.svg"></a>
        </div>

        <div id="copyright">
          Copyright © Eclipse Foundation, <br class="mobile-only"/>Inc. All Rights Reserved.
        </div>

        <nav id="eclipse-navigation-bar">
          <a href="{{urls.eclipse.home}}" target="_blank">Eclipse Home</a>
          <a href="{{urls.eclipse.privacyPolicy}}" target="_blank">Privacy Policy</a>
          <a href="{{urls.eclipse.termsOfUse}}" target="_blank">Terms of Use</a>
          <a href="{{urls.eclipse.copyrightAgent}}" target="_blank">Copyright Agent</a>
          <a href="{{urls.eclipse.legal}}" target="_blank">Legal</a>
        </nav>

      </footer>
    </div>

    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="js/vendor/jquery-3.5.1.slim.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29181496-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-29181496-1');
    </script>

  </body>

</html>
