<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!--<link rel="manifest" href="site.webmanifest">-->
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <meta name="theme-color" content="#fafafa">
  </head>

  <body>

    <header>
      {{#if home}}
        <div id="eclipse-scout-logo"><div class="logo"></div><div class="text"></div></div>
      {{else}}
        <a href="/" id="eclipse-scout-logo"><div class="logo"></div><div class="text"></div></a>
      {{/if}}

      <nav id="main-navigation">
        <div class="navigation-item lv1 first"><a href="{{urls.docs.tutorial}}" target="_blank" class="text">Tutorial</a></div>
        <div class="navigation-item lv1"><a href="{{urls.docs.home}}" target="_blank" class="text">Docs</a></div>
        <div class="navigation-item lv1 has-children">
          <div class="text">Community</div>
          <div class="navigation-lv2-panel hidden">
            <a href="{{urls.eclipse.scoutForum}}" target="_blank" class="navigation-item lv2 first" id="icon-eclipse-scout-forum">
              <div class="navigation-item-container">
                <div class="title">Eclipse Scout Forum</div>
                <div class="text">Need help? Ask the experts</div>
              </div>
            </a>
            <a href="{{urls.stackOverflow}}" target="_blank" class="navigation-item lv2" id="icon-stack-overflow">
              <div class="navigation-item-container">
                <div class="title">StackOverflow</div>
                <div class="text">Another source for help</div>
              </div>
            </a>
            <a href="{{urls.gitHub}}" target="_blank" class="navigation-item lv2" id="icon-git-hub">
              <div class="navigation-item-container">
                <div class="title">GitHub</div>
                <div class="text">View source code. Contribute</div>
              </div>
            </a>
            <a href="{{urls.eclipse.bugzilla}}" target="_blank" class="navigation-item lv2 last" id="icon-bugzilla">
              <div class="navigation-item-container">
                <div class="title">Bugzilla</div>
                <div class="text">Report errors</div>
              </div>
            </a>
          </div>

        </div>
        <div class="navigation-item lv1 last"><a href="about" class="text">About</a></div>

        <div class="navigation-item lv1 mobile-only"><a href="/versions" class="text">Versions</a></div>
        <div class="navigation-item lv1 mobile-only"><a href="javascript:onGetStartedLinkClick()" class="text">Get Started</a></div>

      </nav>

      <a href="/versions#v11" id="scout-version-button" class="desktop-only">
        <svg height="36" width="36" viewBox="0 0 36 36">
          <circle cx="18" cy="18" r="17" stroke="#014786" stroke-width="2" fill="white" />
        </svg>
        <div>v{{scout.version}}</div>
      </a>

      <button id="get-started-button" class="desktop-only">Get Started</button>

      <button id="mobile-navigation-button" class="mobile-only"></button>

    </header>

    <div id="wrapper">

      {{{body}}}

      <!-- **** FOOTER **** -->
      <footer>

        <div id="social-media-bar">
          <a href="{{urls.bsi.scoutBlog}}" target="_blank" title="Eclipse Scout Blog"><img src="img/bold/rss-feed.svg" id="rss-icon"></a>
          <a href="{{urls.gitHub}}" target="_blank" title="GitHub"><img src="img/bold/developer-community-github-1.svg" id="github-icon"></a>
          <a href="{{urls.stackOverflow}}" target="_blank" title="StackOverflow"><img src="img/bold/developer-community-stack-overflow.svg" id="stack-overflow-icon"></a>
        </div>

        <div id="copyright">
          Copyright © Eclipse Foundation, <br class="mobile-only"/>Inc. All Rights Reserved.
        </div>

        <nav id="eclipse-navigation-bar">
          <a href="{{urls.eclipse.home}}" target="_blank">Eclipse Home</a>
          <a href="{{urls.eclipse.privacyPolicy}}" target="_blank">Privacy Policy</a>
          <a href="{{urls.eclipse.termsOfUse}}" target="_blank">Terms of Use</a>
          <a href="{{urls.eclipse.copyrightAgent}}" target="_blank">Copyright Agent</a>
          <a href="{{urls.eclipse.legal}}" target="_blank">Legal</a>
        </nav>

      </footer>
    </div>

    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="js/vendor/jquery-3.5.1.slim.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      // window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      // ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>

  </body>

</html>
